<h1>Massages#new</h1>
<p>Find me in app/views/massages/new.html.erb</p>



f.input :country_id, collection: @continents

<%= simple_form_for @massage do |f| %>
<%= f.association :massage_id %>
  <%= f.button :submit %>
<% end %>
    t.string   "nom"
    t.text     "description"
    t.integer  "temps"
    t.integer  "prix"
