<h1>Personnels#show</h1>
<p>Find me in app/views/personnels/show.html.erb</p>
<!-- START ABOUT US -->
     <div class="greencard wow rubberBand" data-wow-duration="1s" ></div>
    <section id="about" class="about-us section-padding">

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="about_img">
              <%= image_tag("about.jpg", class: "img-responsive")%>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="about-us-content">
              <h2>About our <span>Monalisa</span></h2>
              <div class="about-line"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum.</p>
            </div>
          </div><!-- END COL -->
        </div><!-- END ROW -->
      </div><!-- END CONTAINER -->
    </section>
    <!-- END ABOUT US -->
